<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cgmiblibtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f45e57ff-726d-4e76-8044-14eb87b75e31/resourceGroups/Asset_Discovery/providers/Microsoft.Web/sites/CGMibLibTest</ResourceId>
    <PublishUrl>https://cgmiblibtest.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>